*{padding:0;margin:0;}
			body{font:16px/1 sans-serif}
			
			
			/*VERTICAL MENU*/
			nav.vertical3{
			position:relative;
			width:200px;
			z-index:3;
			}
			
			/* ALL UL */
			nav.vertical3 ul{
			list-style: none;
			}
			/* ALL LI */
			nav.vertical3 li{
			position:relative;
			}
			/* ALL A */
			nav.vertical3 a{
			display:block;
			color:#eee;
			text-decoration:none;
			padding:10px 15px;
			background:green;
			transition:0.2s;
			/*width:160%;*/
			border:#000 solid; border-width:1px;
			}
			/* ALL A HOVER */
			nav.vertical3 li:hover > a{
			background:#148629;
			position:relative;
			}
			
			/* INNER UL HIDE */
			nav.vertical3 ul ul{
			position:absolute;
			left:0%;
			top:0;
			width:220%;
			visibility:hidden;
			opacity:0;
			transition: transform 0.2s;
			transform: translateX(50px);
			}
			/* INNER UL SHOW */
			nav.vertical3 li:hover > ul{
			left:100%;
			visibility:visible;
			opacity:1;
			transform: translateX(0px);
			}